header,nav,main,div,footer{ display: block; }
* { box-sizing: border-box;}
body { background-color: #336699;
	   font-family: Arial, Verdana, sans-serif;	   
}
header { background-color: #CCCCCC;
		 padding: 1em;
		 text-align:center;
		 justify-content: center;
		 grid-column: 1/4;
		 grid-row: 1/2;
}
header h1 { color: #03658C;
			margin-right: 100px;
}
header img { float:left;
			  height:100px; 
			  width:100px;
			  margin-top: -15px;
			  margin-left: 50px;
}
nav { background-color: #FFFFFF;
	  color: #000000;
	  font-size: 1em;   
	  margin: 10px 10px;
	  float: left;
	  text-align: left;
	  grid-column: 1/2;
	  grid-row: 2/3;
}
nav ul {list-style-type: none;}
nav li { padding: 10px;
		 font-weight:bold;
		 color: #000000;
		 text-align:left;
		 }
nav a { text-decoration: none;
	    
}
nav a:link { color: #000000; }
nav a:visited { color: #0388A6;}
nav a:hover { color: #99D9F2;}


main {  background-color: #FFFFFF;
		grid-column: 2/3;
	    grid-row: 2/3; }
main h2, h3, h4 {color: #0388A6;}
main dt {color: #0388A6;
		font-weight: bold;
		font-size: 1em;}
main h4 {text-align: center;
		margin-right: 20px;}
main a {text-decoration: none;}
main div a { padding: 5px;
			 margin-left: 50px;
			display: inline;
			}
main a:link { color: #0388A6; }
main a:visited { color: #0388A6;}
main a:hover { color: #99D9F2;}

footer { background-color: #CCCCCC;
		 padding: 1em;
		 text-align:center;
		 font-weight: bold;
		 color: #03658C;
		 grid-column: 1/4;
		 grid-row: 3/4;
}
table {margin:auto;
		border-spacing: 0; 
		border: 3px solid #CCCCCC;
		width: 1000px;
		margin-bottom: 2em}
th,td {border: 1px solid #000000;
	   padding: 0.70em;
		}
main details a {padding-left: 1px;
				margin-left: 1px;}
details summary { margin-bottom: 20px;
			   font-size: 1.2em;
			   font-weight: bold;}

form {padding: 15px;
	  margin-bottom: 20px;}
legend { font-weight: bold;
		 color: #0388A6;}	 
::selection { background-color: #FF9900 ; 
			 color: #FFFFFF;}
.button { background-color: #FFFFFF; 
		  border: none;
		  padding: 5px;
		  transition-duration: 0.5s;
		  text-align:center;
		  font-size: 1em;
		  margin: 1px;
		  display:inline-block;
		  width: 8em;
		  height: 3em;
		  }
.button:hover { background-color: #CCCCCC;}
.pop {color: #0388A6;
	  border-bottom: 1px dashed #0388A6; }
.mobile { display: none;}
.desktop{ display: inline-block;}
.space { margin-bottom: 300px;
		margin-top: 30px;}
#mysubmit { color: #0388A6;
			font-weight:bold;
			margin-top: 5px;
			margin-bottom: 20px;}
#mobile{ display: none;}

#wrapper {background-color: #FFFFFF;
		 width: 100%;
		 height: auto;
		 margin: auto;
		 /*CSS grid lay out set up*/
		 display: grid;
		 grid-template-columns: 200px 1fr 100px;
		 grid-template-rows: 100px 1fr 100px;
}


@media only screen and (max-width: 1024px){
	body{ margin:0;
		padding:0;}
	#wrapper { width: auto;
			   margin:0;
			   grid-template-columns: 200px 1fr;
			   grid-template-rows: 100px auto auto 175px;
			}
	header { grid-row: 1/2;
			grid-column: 1/3;}
	nav { grid-row: 2/3;
	     grid-column: 1/2;}
	main { grid-row: 2/4;
         grid-column: 2/3; }
	footer { grid-row: 4/5;
			grid-column: 1/3;}
	main div a { padding: 25px;
			    margin-left: 50px;
			    display: inline; }
	form {padding: 0;}
	details { margin-bottom: 20px;
			   font-size: 1.2em;}
	.mobile { display: inline-block;}
	.desktop{ display: none;}
	.desktop2 {display: inline-block;}
}
@media only screen and (max-width: 768px){
	
	#wrapper { grid-template-columns: auto;
			  grid-template-rows: 200px auto auto auto 225px;
	}
	header { grid-row: 1/2;
	         grid-column: 1/2;
			 padding-left: 50px;}
	nav ul { display: none;}
	main {grid-row: 2/4;
	       grid-column: 1/2;}
	footer {grid-row: 4/6;
	       grid-column: 1/2;}
	header,nav,main,div,footer{ display: block; }
	.mobile { display: inline-block;}
	.desktop{ display: none;}
	.desktop2 {display: none;}
	main div a { padding:0;
				margin:0;
				margin-right: 30px;}
	
}








