*{box-sizing: border-box; }
#wrapper {background-color: #FFFFFF;
		 width: 50%;
		 margin: auto;
		 /*CSS grid lay out set up*/
		 display: grid;
		 grid-template-columns: 120px 1fr 160px;
		 grid-template-rows: 200px 200px 200px;
}
div h1 {   border: 10px solid #CCCCCC;
		border-radius: 25px;
		justify-content: center;
		align-content: center;
		/*CSS grid lay out applied*/
		grid-column: 2/3;
		grid-row: 2/3; 
			}
h1 { text-align: center;
	color: #336699;
	font-weight: bold;
	font-size: 3em;
	font-family:Georgia,  sans-serif;
	padding: 5px;
	
}
